:root {
  --theme: #1DBF73;

  font-family: system-ui, -apple-system, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.8;
  transition: opacity 0.2s;

  &:active {
    opacity: 1;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2,
h3 {
  color: var(--text-light);
}

.card {
  padding: 2em;
}

button,
*[role="button"],
select {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  font-size: 1rem;
  color: var(--text);
  border: 1px solid var(--border);
  background-color: var(--btn-bg);
  transition: filter 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

button:active:not(:disabled),
*[role="button"]:active {
  transform: scale(0.96);
  transition: transform 0.1s;
}

@media (min-width: 601px) {
  a:hover {
    color: var(--link-hover);
    opacity: 1;
  }

  button:hover:not(:disabled) {
    background-color: color-mix(in srgb, var(--btn-bg), black 10%);
  }
}

.svg-icon {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--svg);
  display: inline-block;
  width: 28px;
  height: 28px;
}

@media (prefers-color-scheme: light) {
  :root {
    /* ライトモード用カラー変数 */
    --bg: #EBECED;
    --bg-dialog: #fff;
    --bg-preview: #FAFAFA;
    --bg-input: #fff;
    --bg-footer: #FFF;
    --btn-bg: #fff;
    --border: #ddd;
    --border-hr: #eee;
    --text: #3D3D3D;
    --text-light: #757575;
    --text-r: #e6e6e6;
    --link: #646cff;
    --link-hover: #747bff;
    --svg: #525252;
    --shadow: rgba(0, 0, 0, 0.1);
    --hagaki: #e63a3a;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ダークモード用カラー変数 */
    --bg: #19191A;
    --bg-dialog: #242424;
    --bg-preview: #262626;
    --bg-input: #363636;
    --bg-footer: #1A1A1A;
    --btn-bg: #363636;
    --border: #444;
    --border-hr: #444;
    --text: #e6e6e6;
    --text-light: #A6A6A6;
    --text-r: #3D3D3D;
    --link: #646cff;
    --link-hover: #535bf2;
    --svg: #f0f0f0;
    --shadow: rgba(255, 255, 255, 0.1);
    --hagaki: #f88a77;
  }
}