:root {
  --theme: #1DBF73;
  --hagaki: #CC0000;

  font-family: system-ui, -apple-system, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:active {
    opacity: 1;
  }
}

@media (min-width: 601px) {
  a:hover {
    color: var(--link-hover);
  }
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  -webkit-tap-highlight-color: transparent;
  color: var(--text);
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.90);
  }
}

/* 共通ボタンスタイル */
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* 角なし */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid transparent;
  padding: 6px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg);
  border-color: var(--btn-border);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  user-select: none;
  gap: 8px;
}

/* 丸ボタン（アイコンボタン等） */
.btn-round {
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-bg);
  border: 1px solid var(--btn-border);
  cursor: pointer;

  & img {
    width: 26px;
    height: 26px;
  }
}

.btn-round:hover {
  background: #f0f0f0;
}

.btn-round:active {
  background: #e0e0e0;
  box-shadow: 0 1px 2px #0002;
  transform: scale(0.96);
}

@media (prefers-color-scheme: light) {
  :root {
    /* ライトモード用カラー変数 */
    --bg: #EBECED;
    --preview-bg: #FCFCFC;
    --input-bg: #fff;
    --text: #3D3D3D;
    --link: #646cff;
    --link-hover: #747bff;
    --btn-bg: #f9f9f9;
    --btn-border: #ccc;
    --svg: #525252;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ダークモード用カラー変数 */
    --bg: #262626;
    --preview-bg: #323333;
    --input-bg: #323333;
    --text: #fafcfc;
    --link: #646cff;
    --link-hover: #535bf2;
    --btn-bg: #1a1a1a;
    --btn-border: #646cff;
    --svg: #fafcfc;
  }
}