:root {
  --theme: #1DBF73;
  --nostr: #7c3aed;
  --white: #ffffff;
  --yellow: #ffecbc;
  --red: #d32f2f;
  --darker: rgba(0, 0, 0, 0.8);

  font-family: system-ui, -apple-system, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.8;
  transition: opacity 0.2s;

  &:active {
    opacity: 1;
  }
}

h2,
h3 {
  color: var(--text-light);
}

.card {
  padding: 2em;
}

button,
*[role="button"],
select {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
  border: 1px solid var(--border);
  background-color: var(--btn-bg);
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

button:active:not(:disabled),
*[role="button"]:active {
  transform: scale(0.9);
  transition: transform 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

@media (min-width: 601px) {
  a:hover {
    color: var(--link-hover);
    opacity: 1;
  }
}

.svg-icon {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--svg);
  display: inline-block;
  width: 28px;
  height: 28px;
}

@media (prefers-color-scheme: light) {
  :root {
    /* ライトモード用カラー変数 */
    --bg: #ebeced;
    --bg-dialog: #F7F7F7;
    --bg-preview: #fafafa;
    --bg-input: #fff;
    --bg-footer: #F7F7F7;
    --bg-translucent: #EDEDEDcc;
    --btn-bg: #fff;
    --border: #ddd;
    --border-hr: #eee;
    --text: #3d3d3d;
    --text-light: #757575;
    --text-r: #e6e6e6;
    --link: #646cff;
    --link-hover: #747bff;
    --svg: #525252;
    --shadow: rgba(0, 0, 0, 0.1);
    --hagaki: #e63a3a;
  }

  @media (min-width: 601px) {
    button:hover:not(:disabled) {
      background-color: color-mix(in srgb, var(--btn-bg), black 8%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ダークモード用カラー変数 */
    --bg: #19191A;
    --bg-dialog: #212121;
    --bg-preview: #262626;
    --bg-input: #404040;
    --bg-footer: #1A1A1A;
    --bg-translucent: #212121cc;
    --btn-bg: #404040;
    --border: #444;
    --border-hr: #444;
    --text: #e6e6e6;
    --text-light: #A6A6A6;
    --text-r: #3D3D3D;
    --link: #646cff;
    --link-hover: #535bf2;
    --svg: #f0f0f0;
    --shadow: rgba(255, 255, 255, 0.1);
    --hagaki: #f88a77;
  }

  @media (min-width: 601px) {
    button:hover:not(:disabled) {
      background-color: color-mix(in srgb, var(--btn-bg), black 15%);
    }
  }
}